nav ul{
    display: flex;
}

nav ul .watch{
    margin-left: 450px;
}

nav li{
    list-style: none;
    margin-right: 20px;
    padding: 0px 10px ;
}

nav li:hover{
    color: fuchsia;
    background-color: yellowgreen;
}

nav li a{
    text-decoration: none;
    color: peru;
    font-size: 25px;
}